body
{
    padding:0;
    margin:0;
}
.row{
    border:1.5px solid black;
    border-radius:8px;
    padding:15px;
}
.a1{
    text-decoration:underline;
    font-size:20px;
}
.searchbox{
    border:1px solid black;
    border-radius:10px;
    padding:0;
    height:35px;
}
.input-group-addon, .form-control{
    background-color:white;
    border:2px solid white;
    border-radius:10px;
    height:29px;
}
.input-group{
    padding:0;
    margin:0;
}
.dynamicDivHead{
    border-bottom:1.5px solid black;
    border-radius:8px 8px 0 0;
    background-color:darkslategrey;
    height:28px;
    padding:5px;
}
.dynamicDiv{
    border:1.5px solid black;
    border-radius:8px;
    background: white;
    opacity: 0.9;
}
.phead{
    color: white;
    font-weight: bold;
}
.ui-front{
    z-index: 10000;
}
.fa {
    padding: 5px;
    font-size: 15px;
    width: 30px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    margin: 0;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}